<div class="flex gap-3 items-center pr-5">
	<div class="shrink-0 size-31 overflow-hidden">
		{% if article.image_principale %}
			<img src="{{ base }}/assets/images/{{ article.image_principale }}" alt="{{ article.titre }}" class="w-full h-full object-cover">
		{% else %}
			<div class="w-full h-full bg-(--cerise-02)"></div>
		{% endif %}
	</div>
	<a href="{{ base }}/admin/article/edit?id={{ article.id }}" class="flex flex-col justify-between flex-1 min-w-0">
		<div class="bg-teal-950 px-1.5 py-0.5 inline-flex items-center justify-center w-fit">
			<span class="font-condensed text-[9px] text-green-300 tracking-tight whitespace-nowrap">
				{{ article.statut|capitalize }}
			</span>
		</div>
		<div class="flex flex-col gap-5">
			<p class="font-condensed text-sm tracking-tight text-ellipsis overflow-hidden">
				{{ article.titre }}
			</p>
			<div class="flex items-center justify-between text-[9px] tracking-tight whitespace-nowrap">
				<span>{{ article.date_publication ? article.date_publication|date('d M Y') : '—' }}</span>
				<span class="text-(--cerise-07)">{{ article.rubrique ?? 'Non classé' }}</span>
			</div>
		</div>
	</a>
</div>
