{% import 'macros/icons.html.twig' as icons %}
<button popovertarget="actions-{{ article.id }}" style="anchor-name: --anchor-{{ article.id }}" class="btn btn-sm">
	{{ icons.icon('dots-three-vertical', 'bold', 'w-4 h-4 text-cerise-01') }}
</button>
<ul popover id="actions-{{ article.id }}" style="position-anchor: --anchor-{{ article.id }}" class="dropdown menu w-40 rounded-box bg-base-100 shadow-sm">
	<li>
		<a href="{{ base }}/admin/article/edit?id={{ article.id }}">Éditer</a>
	</li>
	<li>
		<form method="POST" action="{{ base }}/admin/article/delete" style="display:inline;">
			<input type="hidden" name="id" value="{{ article.id }}">
			<button type="submit" data-action="confirm-delete">Supprimer</button>
		</form>
	</li>
</ul>
