<nav class="max-w-5xl mx-auto px-4 md:px-8">
	<h1 class="text-4xl mb-5">{{section}}</h1>
	<div class="text-lg flex flex-rows gap-5">
		<a href="{{ base }}/admin/article/list">Articles</a>
		<a href="{{ base }}/admin/lexique/list">Lexique</a>
		<a href="{{ base }}/admin/lexique/list">Newsletter</a>
		<a href="{{ base }}/admin/lexique/list">Paramètre</a>
	</div>
	<hr class="flex-1 border-t border-(--09)">

</nav>
