{# admin/partials/password-field.html.twig #}
<div class="flex flex-col items-start">
	<label>{{ label }}
		{% if required is defined and required %}
			<abbr title="Champ obligatoire">*</abbr>
		{% endif %}
		{% if hint is defined and hint %}
			<span class="text-cerise-06 text-xs ml-1">{{ hint }}</span>
		{% endif %}
	</label>
	<input type="password" id="{{ name }}" name="{{ name }}" class="outline-none border-b border-dashed border-cerise-09 min-h-[1.5em] w-full bg-transparent {{ class ?? '' }}">
</div>
