<!DOCTYPE html>
{% import 'macros/icons.html.twig' as icons %}
<html lang="fr" data-theme="light">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			{% block titre %}La Cerise
			{% endblock %}
		</title>
		<link rel="stylesheet" href="{{ base }}/assets/css/output.css">
		<link rel="icon" type="image/x-icon" href="{{ base }}/assets/images/favicon/favicon.ico">
		<link rel="icon" type="image/png" sizes="32x32" href="{{ base }}/assets/images/favicon/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="{{ base }}/assets/images/favicon/favicon-16x16.png">
		<link rel="apple-touch-icon" sizes="180x180" href="{{ base }}/assets/images/favicon/apple-touch-icon.png">
		<script src="{{ base }}/assets/js/contenteditable-sync.js" defer></script>
	</head>

	<body class="bg-neutral-50"> {% block scripts %}{% endblock %}
		{% include 'admin/partials/header.html.twig' %}
		{% include 'admin/partials/nav.html.twig' %}
		<main class="max-w-5/6 mx-auto md:px-8 lg:px-0"> {% block content %}{% endblock %}
			</main>
			<script src="{{ base }}/assets/js/autoHideNavbar.js" defer></script>
		</body>
		{% include 'admin/partials/footer.html.twig' %}
	</html>
