{% extends 'admin/base.html.twig' %}
{% import 'macros/icons.html.twig' as icons %}
{% block titre %}L'espace Admin
{% endblock %}

{% block content %}

	<ul class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
		{% for article in articles %}
			<li class="flex flex-col p-7 md:p-10 justify-between hover:bg-cerise-10">

				{% include "admin/partials/dropdown-actions.html.twig" %}

				<a href="{{ base }}/admin/article/edit?id={{ article.id }}" class="flex flex-col gap-5 grow">
					<div class="flex flex-row justify-between">
						<div class="flex flex-row gap-3">
							{% include "admin/partials/badge-statut.html.twig" with { statut: article.statut } only %}
							<time datetime="{{ article.date_publication }}">
								{{ formatDateFr(article.date_publication) }}
							</time>
						</div>
					</div>
					<h2 class="text-h2-section">{{ article.titre }}</h2>
					<p class="text-cerise-04">{{ article.chapeau | striptags | slice(0, 200) }}...</p>
				</a>

				<span class="mt-5">{{ article.rubrique ?? 'Non classé' }}</span>

			</li>
		{% else %}
			<li>Aucun article pour le moment</li>
		{% endfor %}
	</ul>

	<div class=" md:flex fixed bottom-6 left-1/2 -translate-x-1/2 z-50">
		<a href="{{ base }}/admin/article/create.php">
			{% include 'components/button.html.twig' with { label: "Nouvel article" } %}
		</a>
	</div>

	<script src="/La_Cerise/assets/js/confirm.js" defer></script>
{% endblock %}
