{% extends 'admin/base.html.twig' %}
{% import 'macros/icons.html.twig' as icons %}
{% block titre %}L'espace Admin
{% endblock %}

{% block content %}

	<section class="grid grid-cols-1 grid-rows-1 md:grid-cols-2 lg:grid-cols-3">
		{% for article in articles %}
			<div class="flex flex-col px-10 py-10 border border-cerise-09 min-h-[60svh] justify-between">

				<a href="{{ base }}/admin/article/edit?id={{ article.id }}" class="flex flex-col gap-5 grow">
					<p>{{ article.statut }}</p>
					<h2 class="text-h2-section">{{ article.titre }}</h2>
					<p>{{ article.chapeau | striptags | slice(0, 200) }}...</p>
				</a>

				<div class="flex items-center justify-between mt-10">
					<div class="flex flex-col gap-2">
						<small>

							{{ article.rubrique ?? 'Non classé' }}
						</small>
						<small>

							{{ article.date_publication ? article.date_publication|date('d/m/Y') : '—' }}
						</small>
					</div>

					{% include "admin/partials/dropdown-actions.html.twig" %}
				</div>

			</div>
		{% else %}
			<p>Aucun article pour le moment</p>
		{% endfor %}
	</section>

	<div class="hidden md:flex fixed bottom-6 left-1/2 -translate-x-1/2 z-50">
		<a href="{{ base }}/admin/article/create.php">
			{% include 'components/button.html.twig' with { label: "Rediger un nouvel article" } %}
		</a>
	</div>

	<script src="/La_Cerise/assets/js/confirm.js" defer></script>
{% endblock %}
