<!DOCTYPE html>
<html lang="fr" data-theme="light">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Connexion — Admin La Cerise</title>
		<link rel="stylesheet" href="{{ base }}/assets/css/output.css">
		<link rel="icon" type="image/x-icon" href="{{ base }}/assets/images/favicon/favicon.ico">
		<link rel="icon" type="image/png" sizes="32x32" href="{{ base }}/assets/images/favicon/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="{{ base }}/assets/images/favicon/favicon-16x16.png">
		<link rel="apple-touch-icon" sizes="180x180" href="{{ base }}/assets/images/favicon/apple-touch-icon.png">
	</head>
	<body>
		{% import 'macros/icons.html.twig' as icons %}

		<main class="grid place-items-center min-h-screen">


			<form method="POST" action="">
				<fieldset class="fieldset w-xs p-4 flex flex-col gap-3">

					<h1 class="text-4xl bg-linear-to-r from-cerise-01 via-cerise-special to-cerise-special-mid inline-block text-transparent bg-clip-text">Saisissez vos informations pour vous identifier</h1>
					<small class="text-small">Réservé à l'équipe La Cerise pour la gestion du site</small>

					<div class="flex flex-col gap-2 mt-8">
						<input type="text" id="email" name="email" class="input" placeholder="Email ou Nom" required/>

						<input type="password" id="password" name="password" class="input" placeholder="Mot de passe" required/>
					</div>
					<div class="flex gap-2">
						{% if error %}
							{{ icons.icon('warning-circle', 'bold', 'w-4 h-4 text-red-700') }}
							<p class="text-red-700 text-small">{{ error }}</p>
						{% endif %}
					</div>

					<button type="submit" class="btn bg-cerise-special-dark border-cerise-special-mid text-cerise-10">Se connecter</button>
					<button class="btn btn-neutral mt-10">
						<a href="{{ base }}/">Retourner vers le site</a>
					</button>
				</fieldset>
			</form>
		</main>


	</body>
</html>
