{% extends 'base.html.twig' %}

{% block titre %}
	{{ article.titre }}
	- La Cerise
{% endblock %}

{% block content %}


	<article class="w-full mt-10 flex flex-col gap-10 lg:mx-auto lg:w-3/5">
		{% include 'components/breadcrumb.html.twig' with {
    'breadcrumb': [
        {'label': article.rubrique_nom, 'url': '#'},
        {'label': article.titre, 'url': null}
    ]
    } %}
		<header class="flex flex-col gap-5">
			<div class="flex flex-col gap-2 justify-between">
				<small class="text-small-serif ">{{ formatDateFr(article.date_publication) }}</small>
				<small class="text-small-serif text-cerise-06">{{ article.rubrique_nom }}</small>
			</div>
			<h1 class="text-h1-serif">{{ article.titre }}</h1>
		</header>


		<div class="contenu prose max-w-none w-full text-body-serif">
			{{ article.contenu | raw }}
		</div>

	</article>

	{% if suggeres %}
		<div class="h-dvh flex flex-col justify-center-safe">

			<section class="my-20 flex flex-col gap-15">

				<div class="flex flex-row items-center gap-5">
					<hr class="flex-1 border-t border-[var(--09)]">
					<h2 class="text-h2-serif whitespace-nowrap">Poursuivre la lecture</h2>
					<hr class="flex-1 border-t border-[var(--09)]">
				</div>

				<div class="grid grid-cols-1 gap-10
																																																																			    {% if suggeres|length == 1 %}md:grid-cols-1
																																																																			    {% elseif suggeres|length == 2 %}md:grid-cols-2
																																																																			    {% else %}md:grid-cols-3
																																																																			    {% endif %}">
					{% for suggere in suggeres %}
						{% include 'components/card.html.twig' with {'card': suggere} %}
					{% endfor %}
				</div>
			</section>
		</div>
	{% endif %}

{% endblock %}
