{% extends 'base.html.twig' %}

{% block titre %}La Cerise
{% endblock %}

{% block content %}
	<div class="flex flex-col">

		<section aria-label="À la une" class="flex flex-col gap-10 my-20">

			<article>
				<a href="{{ base }}/public/article.php?slug={{ hero.slug }}" class="group grid grid-cols-1 lg:grid-cols-2 gap-10 lg:gap-50">

					<div class="flex flex-col justify-between gap-10 lg:gap-0">
						<div class="flex flex-col gap-5">
							<h1 class="text-h1-serif group-hover:text-cerise-special transition-colors duration-200">{{ hero.titre }}</h1>
							<img src="{{ base }}/assets/images/{{ hero.image_principale }}" class="w-full h-full object-cover aspect-3/2 overflow-hidden md:hidden" alt="{{ hero.titre }}">
							<small class="group-hover:text-cerise-01 transition-colors duration-300">{{ hero.chapeau | striptags | slice(0, 250) }}</small>
						</div>

						<div class="flex justify-between">
							<small>{{ formatDateFr(hero.date_publication) }}</small>
							<small class="text-neutral-400">{{ hero.rubrique }}</small>
						</div>
					</div>

					<div class="hidden lg:flex flex-col gap-5">
						<img src="{{ base }}/assets/images/{{ hero.image_principale }}" class="w-full h-full object-cover aspect-square overflow-hidden" alt="{{ hero.titre }}">
						<small class="text-neutral-400">{{ hero.credit_photo }}</small>
					</div>

				</a>
			</article>

			<div class="flex flex-col gap-10 md:grid grid-cols-2 grid-rows-1 gap-4" aria-label="Autres articles">
				{% for card in cards %}
					{% include 'components/card.html.twig' with {'card': card} %}
				{% endfor %}
			</div>

		</section>

		<section aria-labelledby="a-venir-titre" class=" flex flex-col gap-25 md:pb-20">

			<div class="flex flex-row items-center gap-5">
				<hr class="flex-1 border-t border-[var(--09)]">
				<h2 id="a-venir-titre" class="text-h2-section-serif whitespace-nowrap select-none">Article à venir</h2>
				<hr class="flex-1 border-t border-[var(--09)]">
			</div>

			{% if articleAVenir %}
				<div class="flex-1 flex items-center justify-center">
					<div class="grid grid-cols-1 lg:grid-cols-2 gap-10 lg:gap-20 cursor-default select-none">
						<div class="overflow-hidden relative">
							<img src="{{ base }}/assets/images/{{ articleAVenir.image_principale }}" class="w-full object-cover aspect-4/2 blur-xs" alt="{{ articleAVenir.titre }}" oncontextmenu="return false" draggable="false">
							<div class="absolute bottom-0 left-0 flex flex-row gap-2 bg-cerise-special-mid w-fit ml-5 mb-5 px-3 py-1">
								{% import 'macros/icons.twig' as icons %}
								{{ icons.lock('text-cerise-10') }}
								<small class="text-cerise-10">Bientot</small>
							</div>
						</div>

						<div class="flex flex-col gap-5 md:justify-between">
							<div class="flex flex-col gap-5">
								<h2>{{ articleAVenir.titre }}</h2>
								<small>{{ articleAVenir.chapeau | striptags | slice(0, 250) }}...</small>
							</div>
							<div>
								<small>{{ articleAVenir.rubrique }}</small>
							</div>
						</div>

					</div>
				</div>
			{% endif %}

		</section>

		<section aria-labelledby="newsletter-titre" class="grid grid-cols-1 lg:grid-cols-2 lg:h-dvh my-20">
			<div class="place-self-center flex flex-col gap-10 w-1/2">
				<div class="flex flex-col gap-2 text-center">
					<h2 id="newsletter-titre" class="text-h1">Newsletter</h2>
					<small>Abonnez-vous à la newsletter de La Cerise et recevez nos articles en avant-première et toute l'actualité du site.</small>
				</div>

				<form action="" method="post" class="flex flex-col gap-7 justify-center items-center">

					{% include 'components/input.html.twig' with { 
        type: 'email', 
        id: 'email', 
        name: 'email', 
        placeholder: 'Adresse e-mail',
        required: true
    } %}

					{% include 'components/button.html.twig' with { label: "S'inscrire", type: 'submit' } %}

					{% if newsletterMessage %}
						<p class="text-sm {% if newsletterMessage.type == 'succes' %}text-cerise-01{% else %}text-cerise-special{% endif %}">
							{{ newsletterMessage.texte }}
						</p>
					{% endif %}

				</form>
			</div>

			{% if mediaNewsletter %}
				<img src="{{ base }}/assets/images/{{ mediaNewsletter.fichier }}" alt="{{ mediaNewsletter.alt }}" class="place-self-center h-3/4 lg:h-1/2">
			{% endif %}
		</section>

	</div>
{% endblock %}
