<article class="flex flex-col gap-5">
	<a href="{{ base }}/article.php?slug={{ card.slug }}" class="flex flex-col gap-5">
		{% if card.image_principale is not empty %}
			<img src="{{ base }}/assets/images/{{ card.image_principale }}" alt="{{ card.titre }}" class="w-full object-cover aspect-3/2">
		{% endif %}
		<h2>{{ card.titre }}</h2>
		<small>{{ card.chapeau | striptags | slice(0, 150) }}...</small>
		<div class="flex justify-between">
			<small>{{ formatDateFr(card.date_publication) }}</small>
			<small class="text-cerise-06">{{ card.rubrique_nom ?? card.rubrique }}</small>
		</div>
	</a>
</article>
