{% extends 'public/base.html.twig' %}

{% block titre %}La Cerise
{% endblock %}

{% block main_class %}
	<main class="overflow-x-hidden">
	{% endblock %}

	{% block content %}
		{% import 'macros/icons.html.twig' as icons %}

		{# Section hero — image 1 #}
		<section
			class="flex flex-col gap-2">

			{# Grand article gauche — image en arrière-plan #}
			<a href="{{ base }}/article/{{ hero.slug }}" class="relative overflow-hidden min-h-112.5">
				<img class="absolute inset-0 w-full h-full object-cover" src="{{ base }}/assets/images/{{ hero.image_principale }}" alt="{{ hero.titre }}">
				<div class="absolute inset-0 bg-linear-to-t from-black/70 via-transparent to-transparent"></div>
				<div class="relative z-10 flex flex-col justify-end h-full min-h-112.5 p-6">
					<div class="flex gap-2 text-white/70 text-sm mb-2">
						<span>{{ hero.rubrique }}</span>
						<span>/</span>
						<span>{{ formatDateFr(hero.date_publication) }}</span>
					</div>
					<h2 class="text-white text-3xl font-bold">{{ hero.titre }}</h2>
				</div>
			</a>

			{# Article droite — image au-dessus, texte en dessous #}
			{% if cards[0] is defined %}
				<a href="{{ base }}/article/{{ cards[0].slug }}" class="grid grid-cols-3 px-2 h-24">
					<img class="object-cover w-full h-full" src="{{ base }}/assets/images/{{ cards[0].image_principale }}" alt="{{ cards[0].titre }}">
					<div class="col-span-2 flex flex-col justify-between pl-2 py-2">
						<div class="flex text-xs justify-between text-cerise-05">
							<span>{{ cards[0].rubrique | striptags | slice(0, 30)}}...</span>
							<span>{{ formatDateFr(cards[0].date_publication) }}</span>
						</div>
						<h2 class="text-base/5 text-cerise-03">{{ cards[0].titre }}</h2>
					</div>
				</a>
			{% endif %}

		</section>
		<div class="max-w-7xl mx-auto px-4 md:px-8 lg:px-12 flex flex-col">


			{% if articleAVenir %}
				<section aria-labelledby="a-venir-titre" class=" flex flex-col gap-25 md:pb-20 mt-30 ">
					<div class="flex flex-row items-center gap-5">
						<hr class="flex-1 border-t border-(--09)">
						<h2 id="a-venir-titre" class="text-h1-serif whitespace-nowrap select-none">Article à venir</h2>
						<hr class="flex-1 border-t border-(--09)">
					</div>
					<div class="flex-1 flex items-center justify-center">
						<div class="grid grid-cols-1 lg:grid-cols-2 gap-10 lg:gap-20 cursor-default select-none">
							<div class="overflow-hidden relative">
								<img src="{{ base }}/assets/images/{{ articleAVenir.image_principale }}" class="w-full object-cover aspect-4/2 blur-xs" alt="{{ articleAVenir.titre }}" oncontextmenu="return false" draggable="false">
								<div class="absolute bottom-0 left-0 flex flex-row gap-2 bg-linear-to-bl from-cerise-special to-cerise-01 w-fit ml-5 mb-5 px-3 py-1 items-center">
									{{ icons.icon('file-lock', 'bold', 'w-4 h-4 text-white') }}
									<small class="text-cerise-10" data-stagger-text>Bientôt</small>
								</div>
							</div>

							<div class="flex flex-col gap-5 md:justify-between">
								<div class="flex flex-col gap-5">
									<h2 class="text-h2-section">{{ articleAVenir.titre }}</h2>
									<small class="text-small">{{ articleAVenir.chapeau | striptags | slice(0, 250) }}...</small>
								</div>
								<div>
									<small>{{ articleAVenir.rubrique }}</small>
								</div>
							</div>

						</div>
					</div>
				</section>
			{% endif %}


			<section aria-labelledby="newsletter-titre" class="grid grid-cols-1 lg:grid-cols-2 lg:h-dvh my-20">
				<div class="place-self-center flex flex-col gap-10 w-1/2">
					<div class="flex flex-col gap-2 text-center">
						<h2 id="newsletter-titre" class="text-h1">Newsletter</h2>
						<small class="text-small">Abonnez-vous à la newsletter de La Cerise et recevez nos articles en avant-première et toute l'actualité du site.</small>
					</div>

					<form action="{{ base }}/newsletter" method="post" class="flex flex-col gap-7 justify-center items-center">
						<input type="hidden" name="csrf_token" value="{{ csrf_token }}">

						{% include 'components/input.html.twig' with {
									type: 'email',
									id: 'email',
									name: 'email',
									placeholder: 'Adresse e-mail',
									required: true
								} %}

						{% include 'components/button.html.twig' with { label: "S'inscrire", type: 'submit' } %}

						{% if newsletterMessage %}
							<p class="text-small {% if newsletterMessage.type == 'succes' %}text-cerise-01{% else %}text-cerise-special{% endif %}">
								{{ newsletterMessage.texte }}
							</p>
						{% endif %}

					</form>
				</div>

				{% if mediaNewsletter %}
					<img src="{{ base }}/assets/images/{{ mediaNewsletter.fichier }}" alt="{{ mediaNewsletter.alt }}" class="place-self-center h-3/4 lg:h-1/2">
				{% endif %}
			</section>

		</div>

		<script src="https://cdn.jsdelivr.net/npm/gsap@3/dist/gsap.min.js"></script>
		<script src="{{ base }}/assets/js/carousel.js" defer></script>
		<script src="{{ base }}/assets/js/stagger.js" defer></script>

	{% endblock %}
